<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://github.com/zhangzexu" class="btn">View on GitHub</a>
  <a href="http://140.143.80.97/dhc-dmp/resource/application.yml" download="application.yml" class="btn">application.yml</a>
  <a href="http://218.95.137.107:9000/dhc-dmp/resource/cbus-dmp-1.0.4.jar" class="btn">cbus-dmp.jar</a>
  <a href="http://218.95.137.107:9000/dhc-dmp/resource/static.zip" class="btn">static.zip</a>
</section>
